/* Nav.css */
.nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  display: block;
  color: white;
  text-align: center;

  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
}

.logogym img {
height: 100%;
}

